<!DOCTYPE html>
<html lang="en">
<head>
  <title>SKP Movieflix</title>
  <link href="../skpflix.app.css" rel="stylesheet">
  <link href="signup.css" rel="stylesheet">
  <script src="signup.js" type="application/javascript"></script>
  <link href="../_images/favicon.jpg" rel="shortcut icon" type="image/ico"/>
</head>
<body>
<div class="signup-page">
  <div class="flix-logo">
    <a href="../home.html"><img src="../_images/logo-new.png" alt="movies-logo">
    </a>
  </div>
  <div class="page-txt">
    <h2>Sign up to watch exciting videos</h2>
  </div>
  <div class="signup-form">
    <form>
      <fieldset class="member-register">
        <label>
          Username
          <input name="name" type="text" placeholder="Username" required>
        </label>
        <label>
          Email
          <input name="email" type="email" placeholder="abc@xyz.com" required>
        </label>
        <label>
          Password
          <input name="password" type="password" placeholder="Choose Password" required>
        </label>
        <button id="register-btn" class="btn"><a href="../member/member.home.html">Register</a></button>
        <button id="signin-btn" class="btn"><a href="../signin/signin.html">Sign In</a></button>
      </fieldset>
    </form>
  </div>
</div>
</body>
