<!DOCTYPE html>
<html lang="en">
<head>
  <title>SKP Movieflix</title>
  <link href="skpflix.app.css" rel="stylesheet">
  <link href="../images/favicon.jpg" rel="shortcut icon" type="image/ico"/>
</head>
<body>
<div id="flixhome" class="flix-wrapper">
  <div id="flix-navbar" class="flix-header">
    <div class="flix-logo">
      <a href="#"><img src="_images/logo-new.png" alt="movieflix-logo"></a>
    </div>
  </div>
  <div class="flix-join">
    <div class="flix-promo">
      <div>Play on demand
      </div>
      &nbsp;
      <div class="play-icon">
      </div>
    </div>
    <p class="cnt-text">
      WATCH YOUR FAVORITE MOVIES! SERIES!
    </p>
    <div class="home-btns">
      <a href="signup/signup.html" class="join-btn">Get Excited!</a>
      <a href="signin/signin.html" class="join1-btn">Existing User</a>
    </div>
  </div>
</div>
</body>
</html>
